*{
    margin: 0;
    padding: 0;
}
#container{
    display: flex;
    justify-content: center;
    left: 300px;
    position: absolute;
}
.wrap{
    width: 1000px;
    top: -820px;
    left: 250px;
    position: relative;
}
.wrap::after{
    content: "";
    position: absolute;
    top: -100px;
    left: 50%;
    width: 5px;
    z-index: -1;
    height: 850px;
    background-color: rgba(239, 174, 174, 0.5);
}
.box{
    position: relative;
    width: 100%;
    height: 84px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.left,
.right{
    position: relative;
    width: 30%;
    height: 120px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    color: rgb(90,90,90);
    padding: 8px;
}
.right span,
.left span{
    font-weight: 700;
}
.box:nth-child(even) .left{
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.box:nth-child(odd) .right{
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 0 10px 0.3;
}
.center{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center > span{
    width: 120px;
    border-radius: 10px;
    color: rgb(202, 176, 26);
    text-align: center;
    font: 900  24px "";
    line-height: 50px;
    background-color: #fff;
}